HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.env
/src/main/resources/media.properties
/src/main/resources/security.properties
/src/main/resources/db.yml
/src/main/resources/security.yml
/src/main/resources/mail.yml
/docker-data/
/mail-config/
/mail-data/
/mail-state/
"Test Results - vdtecomberefresh_in_vdt-ecom-be-refresh.html"
src/main/resources/static/product.html
Test Results - vdtecomberefresh_in_vdt-ecom-be-refresh.html
src/main/resources/viettel-payment.yml
